@import "vars";
@import "mixins";
@import "vendor/reset";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #181818;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
  color: $white;
  line-height: 1.5;

  &.no-scroll,
  &.show-sidebar {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  font-style: inherit;
  cursor: pointer;
    &:hover,
    &:focus {
      text-decoration: underline;
    }

}

// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }


/* Blocks */
@import "blocks/page";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/profile.scss";
@import "blocks/social.scss";
@import "blocks/btn.scss";
@import "blocks/stories.scss";
@import "blocks/addpost.scss";
@import "blocks/post.scss";
@import "blocks/embed.scss";
@import "blocks/pagination.scss";
@import "blocks/relaited.scss";
@import "blocks/comments.scss";
@import "blocks/form.scss";
@import "blocks/work.scss";
@import "blocks/tags.scss";
@import "blocks/profile.scss";
@import "blocks/cabinet.scss";
@import "blocks/modal.scss";
@import "blocks/burger.scss";








