<header class="header">
  <div class="header__left">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="index.html" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link has-subnav">Articles</a>
          <ul class="subnav">
            <li class="subnav__link">Website development</li>
            <li class="subnav__link">Internet Marketing</li>
            <li class="subnav__link">Video promotion</li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="text.html" class="nav__link">About me</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Advertising</a>
        </li>
      </ul>      
    </nav>
  </div>

  <div class="header__right">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="profile.html" class="nav__link">Profile</a>
        </li>
        <li class="nav__item">
          <a href="signup.html" class="nav__link">Sign up</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="search.html" method="get">
        <input class="search__input" type="text" placeholder="Blog Search">
    </form>    
  </div>  
</header>
    
